
#navbar{
    border:1px solid red;
    display: flex;
    justify-content: end;
    position: sticky;
    top:5px;
    background-color: white;
    margin-bottom: 10px;
}

#navbar > div{
    margin: 10px;
}

#menu{
    display: grid;
    grid-template-columns: repeat(4,250px);
    gap: 10px;
}

.card img{
    width: 150px;
}