
#navbar{
    border:1px solid red;
    display: flex;
    justify-content: end;
    position: sticky;
    top:5px;
    background-color: white;
    margin-bottom: 10px;
}

#navbar > div{
    margin: 10px;
}

#menu{
    display: grid;
    grid-template-columns: repeat(4,250px);
    gap: 15px;
    width: 1050px;
    margin: auto;
    /* border: 1px solid rgb(148, 148, 130); */
    /* padding-left: 45px; */
    box-sizing: border-box;
}

.card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 37px;
    border-radius: 10px;
}
.card img{
    width: 180px;
    border-radius: 8px;
    /* margin: auto; */
}

#addtocart{
    background-color: teal;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
}

#addtocart:hover{
    background-color: rgb(13, 138, 138);
}